@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --color-green-primary: #66D655;
  --color-green-opacity: #66D655CC;
  --color-gray: #464353;
  --color-gray-opacity: #464353E6;
  --color-danger: #E55959;
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

.link {
  width: 89%;
  margin-bottom: 4%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}

.container {
  padding: 0 1.25rem;
  display: flex;
}

.subTitle {
  margin-bottom: 2rem;
  color: var(--color-gray);
}

.yachi {
  color: var(--color-green-primary);
}

.btn {
  flex-direction: row;
  border: none;
  border-radius: .5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.input {
  background-color: #FFF;
  border: 1px solid #B2B0B0;
  border-radius: .6rem;
  box-sizing: border-box;
  width: 90%;
  padding: 4%;
  margin-bottom: 5%;
  font-size: 1.1rem;
}

.textSlogan {
  margin-bottom: 3.5rem;
  font-size: 1.2rem;
  text-align: justify;
}

.sectionSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
}

@media(min-width: 650px) {
  .sectionSlogan {
    grid-area: sloganAndImg;
    display: flex;
    align-self: center;
  }
}