#header {
  display: flex;
  margin-top: 1.2rem;
}

#logo {
  display: block;
  margin-bottom: 2rem;
  margin-left: 1.2rem;
  color: var(--color-green-primary);
  font-size: 24px;
}

@media(min-width: 650px), handheld and (orientation: landscape) {
  #logo {
    font-size: 3rem;
    margin-left: 2.5rem;
  }
}