.columnPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.divGray {
    display: flex;
    align-items: center;

    background-color: var(--color-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: .4rem;
    margin-bottom: 5%;
}

.search {
    width: 85%;
    padding: 4% 3%;
    font-size: 1rem;
    font-weight: 500;

    background-color: initial;
    color: var(--color-green-primary);
    border: none;
}

.search::placeholder {
    color: var(--color-green-primary);
    opacity: 1;
}

.iconSearch {
    width: 15%;
    height: 100%;
    background-color: initial;
    border: none;

    cursor: pointer;
    border-left: .2rem solid var(--color-green-primary);
}

.iconSearch>span {
    color: var(--color-green-primary);
}

.addObjective {
    width: 100%;
    padding: 3% 3%;
    background-color: initial;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-green-primary);
    font-size: 1rem;
}

.addObjective>span {
    margin-right: 3%;
}

.objectives {
    padding: 10% 7%;
    margin-bottom: 5%;
    border-radius: .6rem;

    background-color: var(--color-green-opacity);
}

.objective {
    padding: 3% 3%;
    border-radius: 6px;

    background-color: var(--color-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.headerObjective {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.headerObjective>button {
    background-color: initial;
    border: none;
}

.headerObjective>button>span {
    color: var(--color-danger);
    cursor: pointer;
}

.headerObjective>h4 {
    color: #FFF;
    margin-bottom: 5%;
}

.objective {
    margin-bottom: 10%;
}

.objective>p {
    color: #FFF;
    margin-bottom: 10%;
}

.barProgress {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 10px;

    background-color: #FFF;
    text-align: center;
}

.progress {
    width: 50%;
    background-color: var(--color-green-primary);
    border-radius: inherit;
}

.progress>b {
    color: var(--color-gray);
    font-size: .8rem;
}

.menuHeader {
    position: relative;
    width: 116%;
    right: 8%;
    bottom: 3%;
    padding: 3% 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: initial;
    border-bottom: .2rem solid var(--color-gray);
}

.checkbox {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox>input {
    background: var(--color-gray);
}

.checkbox>label {
    font-size: .8rem;
}

@media(min-width: 650px) {
    body {
        overflow-y: auto;
    }

    .columnPanel {
        display: grid !important;
        grid-template-rows: 0fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'search addObjective'
            'objectives objectives';
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .divGray {
        margin: 0;
    }

    .divSearch {
        width: 80%;
        height: 55%;

        grid-area: search;
    }

    .search {
        padding: 10% 3% !important;
        font-size: 1.4rem;
    }

    .divSearch>button:hover {
        border-bottom-right-radius: .4rem;
        border-top-right-radius: .4rem;
        background-color: rgb(255, 255, 255, .1) !important;
        transition: .2s;
    }

    .divAddObjective {
        position: relative;
        left: 30%;
        width: 70%;
        height: 55%;

        grid-area: addObjective;
    }

    .addObjective {
        font-size: 1.6rem;
    }

    .addObjective>span>svg {
        position: relative;
        top: .2rem;
        width: 2rem;
        height: 2rem;
    }

    .divAddObjective:hover {
        border-radius: .4rem;
        background-color: var(--color-gray-opacity);
        transition: .2s;
    }

    .objectives {
        position: relative;
        bottom: 10%;
        margin-bottom: 0% !important;
        padding: 3% 2% 3% 2% !important;

        grid-area: objectives;
    }

    .gridObjectives {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 1.5%;
        grid-row-gap: 7%;
    }

    .objective {
        margin-bottom: 0%;
    }

    .menuHeader {
        width: 104% !important;
        right: 2%;
        bottom: 7%;
        padding: 0 !important;
        justify-content: unset !important;
    }

    .checkbox {
        width: unset !important;
        margin-left: 3.1%;
        margin-bottom: 1%;
        justify-content: flex-start !important;
    }


}