.columnPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.divGray {
    display: flex;
    align-items: center;

    background-color: var(--color-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    border-radius: .4rem;
    margin-bottom: 5%;
}

.search {
    width: 85%;
    padding: 4% 3%;
    font-size: 1rem;
    font-weight: 500;

    background-color: initial;
    color: var(--color-green-primary);
    border: none;
}

.search::placeholder {
    color: var(--color-green-primary);
    opacity: 1;
}

.iconSearch {
    width: 15%;
    height: 100%;
    background-color: initial;
    border: none;

    cursor: pointer;
    border-left: .2rem solid var(--color-green-primary);
}

.iconSearch>span {
    color: var(--color-green-primary);
}

.addObjective {
    width: 100%;
    padding: 3% 3%;
    background-color: initial;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-green-primary);
    font-size: 1rem;
}

.addObjective>span {
    margin-right: 3%;
}

.objectives {
    padding: 10% 7%;
    margin-bottom: 5%;
    border-radius: .6rem;

    background-color: var(--color-green-opacity);
}

@media(min-width: 650px) {
    body {
        overflow-y: auto;
    }

    .columnPanel {
        display: grid !important;
        grid-template-areas: 'search addObjective'
            'objectives objectives';
        margin-left: 1.5%;
        margin-right: 1.5%;
    }

    .divGray {
        margin: 0;
    }

    .divSearch {
        width: 80%;
        height: 55%;

        grid-area: search;
    }

    .search {
        padding: 10% 3% !important;
        font-size: 1.4rem;
    }

    .divSearch>button:hover{
        border-bottom-right-radius: .4rem;
        border-top-right-radius: .4rem;
        background-color: rgb(255, 255, 255, .1) !important;
        transition: .2s;
    }

    .divAddObjective {
        position: relative;
        left: 30%;
        width: 70%;
        height: 55%;

        grid-area: addObjective;
    }

    .addObjective {
        font-size: 1.6rem;
    }

    .addObjective>span>svg {
        position: relative;
        top: .2rem;
        width: 2rem;
        height: 2rem;
    }

    .divAddObjective:hover {
        border-radius: .4rem;
        background-color: var(--color-gray-opacity);
        transition: .2s;
    }

    .objectives {
        position: relative;
        bottom: 7%;
        margin-bottom: 0% !important;
        padding: 5% 7% 3% 3% !important;

        grid-area: objectives;
    }

}